.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.rightLinks {
    display: flex;
}

.link {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 0 -2px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.active {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: bold;
}